.tarjeta2 {
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    max-width: 180px;
    justify-content: center;
    border-radius: 15px;
    padding-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    height: 355px;
    max-height: 355px;
    margin-right: 25px;
    transform: scale(1.25);
    transition: transform 0.3s ease;
    background-color: #f5f5f5;
    margin-bottom: 60px;
}

.featured2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    gap: 40px;
}

.tarjeta2 img {
    width: 100%;
    height: 90%;
}

.tarjeta2 h3 {
    margin: 0;
    padding: 0;
    position: relative;
    top: -20px;
    left: 0px;
    width: 150px;
}

.tarjeta2:hover {
    transform: scale(1.30);
    transition: transform 0.3s ease;
}