body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    
    /* --- LÍNEAS AÑADIDAS --- */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    margin-left: 25px;
}

header {
    background-color: #dedede;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    align-content: center;
    position: relative;
    z-index: 200;
}

.opciones {
    margin-right: 8px;
    width: 109px;
    display: flex;
    align-items: center;
    max-width: 109px;
}

.lupa {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.form-search {
    width: 700px; 
    max-width: 100%; 
    display: flex;
    align-items: center;
    position: relative; 
}

input {
    background-color: #45454f;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    width: 100%; 
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 20px;
    padding-left: 50px; 
    box-sizing: border-box; 
}

nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    background-color: #fcfcfc;
    border: 2px solid #dedede;
    position: absolute;
    left: 0;
    z-index: 100;
    top: 39px; 
    opacity: 0;
    visibility: hidden;
    transition: top 0.4s ease-in-out, opacity 0.3s ease-in-out, visibility 0.4s;
}

ul {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;
}

li {
    border-right: 2px solid #dedede;
    padding: 26px;
}

a {
    text-decoration: none;
    color: #464646;
    transition: color 0.3s ease, font-size 0.3s ease;
}

a:hover {
    color: black;
}

li a:hover {
    font-size: 18px;
}

li.cart-icon {
    border-right: none;
    padding: 0;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding-left: 26px;
    padding-right: 25px;
    border-right: 2px solid #dedede;
}

nav.nav-active {
    top: 109px;
    opacity: 1;
    visibility: visible;
}

#hamburger-menu {
    cursor: pointer;
    position: relative;
    z-index: 101;
}


main {
  padding-top: 10px;
  margin-left: 20px;
  transition: padding-top 0.4s ease-in-out;
  margin-bottom: 30px;

  /* --- LÍNEA AÑADIDA --- */
  flex-grow: 1;
}

nav.nav-active + main {
  padding-top: 80px;
}

footer {
    background-color: #000000e5;
    text-align: center;
    padding: 25px;
    position: relative;
    z-index: 200;
    font-weight: bold;
    color: rgba(250, 250, 250, 0.788);
}

.btn {
    border: 1px solid black;
    padding: 15px 20px;
    border-radius: 30px;
    font-weight: bold;
    margin-right: 14px;
}

.btns {
    margin-top: 35px;
}

.tarjeta {
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    max-width: 180px;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    height: 355px;
    max-height: 355px;
    margin-right: 25px;
    transform: scale(1.00);
    transition: transform 0.3s ease;
}

.featured {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
    width: 100%;
}

.tarjeta img {
    width: 69px;
    height: 213px;
    margin-bottom: 10px;
}

.tarjeta p {
    font-size: 14px;
    font-weight: bold;
    color:rgb(92, 92, 92);
    padding: 0;
    margin:0;
}

.tarjeta h3 {
    margin: 0;
    padding: 0;
}

.tarjeta:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}