{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fender Guitars | Login</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/log.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'app_fender:home' %}"><img src="{% static 'logo.png' %}" alt="Fender" width="190px" height="85px" class="logo"></a>
        <form action="{% url 'app_fender:search' %}" class="form-search">
            <img src="{% static 'search.png' %}" alt="search" class="lupa">
            <input type="text" name="search" id="search-input" placeholder="What can we help you find?" class="search">
        </form>
        <div class="opciones">
            <img src="{% static '3barras.png' %}" alt="menu" width="40px" style="margin-right: 14px;" id="hamburger-menu">
            <a href="{% url 'app_fender:login' %}"><img src="{% static 'profile.png' %}" alt="profile" width="45px"></a>
        </div>
    </header>
    <nav id="main-nav">
        <ul>
            <li><a href="{% url 'app_fender:home' %}">Home</a></li>
            <li><a href="{% url 'app_fender:category_list' %}">Category</a></li>
            <li><a href="{% url 'app_fender:product_list' %}">Shop</a></li>
            <li><a href="{% url 'app_fender:custom' %}">Custom</a></li>
            <li><a href="{% url 'app_fender:support' %}">Support</a></li>
            <li class="cart-icon">
                <a href="{% url 'app_fender:cart_detail' %}"><img src="{% static 'cart.png' %}" alt="Shopping Cart" title="Shopping Cart" width="30px"></a>
            </li>
        </ul>
    </nav>

    <main>
        <h1 style="text-align: center;">Welcome back</h1>
        
        <form class="formulario" action="{% url 'app_fender:login' %}" method="POST">
            {% csrf_token %} {% if form.errors %}
                <p style="color: red; text-align: center;">Your email or password was incorrect. Please try again.</p>
            {% endif %}

            <div class="form-group">
                <label for="id_username">Email:</label>
                <input type="email" id="id_username" name="username" required>
            </div>
            <div class="form-group">
                <label for="id_password">Password:</label>
                <input type="password" id="id_password" name="password" required>
            </div>
            <button type="submit" class="btn-submit">Login</button>
            <p>Don't have an account yet? Sign up right <a href="{% url 'app_fender:register' %}">here</a> now!</p>
        </form>
    </main>

    <footer>
        Angel Salinas Perez 5J Construye Applicaciones Web
    </footer>

    <script>
        const hamburgerMenu = document.getElementById('hamburger-menu');
        const mainNav = document.getElementById('main-nav');

        hamburgerMenu.addEventListener('click', () => {
            mainNav.classList.toggle('nav-active');
        });
    </script>
</body>
</html>